@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=JetBrains+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}

html{
    background-color: #262626;
    height: 100vh;
}

/*MENU*/
aside{
    width: 9%;
    max-width: 250px;
    height: 100vh;
    background-color: #262626;
    box-shadow: 20px 20px 10px #2B2B2B;
    text-align: center;
    position: absolute;
}

aside img{
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

aside button{
    background-color: #202020;
    width: 70%;
    cursor: pointer;
}

/*SECCION PRINCIPAL*/
#p_principal{
    width: 60%;
    margin: auto;
    padding-top: 9%;
    padding-left: 5%;
}

#p_principal div{
    display: flex;
}

#p_principal img{
    width: 25%;
}

#p_principal p{
    width: 50%;
    margin: 6%;
}

h1{
    margin: auto;
    font-size: 60px;
}

#flecha{
    margin-top: 2%;
}

#flecha img{
    rotate: -8deg;
    width: 10%;
    margin: auto;
    animation: flecha 2s alternate-reverse infinite;
}

@keyframes flecha {
    0%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-15px);
    }
}

/*PROYECTOS*/
